body, button .btn-secondary {
    background-color: whitesmoke;
    font-family: "Noto Serif SC", serif, sans-serif;
}

h1 {
    padding: 0;
    width: 80%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-family: "Noto Serif SC", serif, sans-serif;
}

video {

    text-align: center;
    width: 100%;
    margin: 10px auto 10px auto;
    background-color: whitesmoke;
}

#footer {
    border: 1px solid black;
    background-color: #333;
    width: 100%;
    /* height: 40px; */
    /* bottom: 0; */
    margin: 0;
    padding: 0;
}

.modal {
    bottom: 200px;
}

.modal-dialog {
    height: 300px;
}

.modal-footer {
    border-top: none;
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    background-image: url("../assets/white-and-black-mountain-wallpaper-933054.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
}


#static {
    width: 90%;
    text-align: center;
    margin: 10px auto 10px auto;
}

img {
    width: 300px;
    height: auto;
}

.owners a {
    text-decoration: none;
    color: #5e5e5e;
}
