body {
    background-color: whitesmoke;
    font-family: "Noto Serif SC", serif, sans-serif;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

h1 {
    padding: 0;
    width: 80%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-family: "Noto Serif SC", serif, sans-serif;
}

video {
    text-align: center;
    width: 100%;
    margin: 10px auto 10px auto;
    background-color: whitesmoke;
}

#footer {
    border: 1px solid black;
    background-color: #333;
    width: 100%;
    /* height: 40px; */
    /* bottom: 0; */
    /* margin: 0; */
    /* padding: 0; */
    padding-top: 10px;
}

.modal {
    bottom: 200px;
}

.modal-dialog {
    height: 300px;
}

.modal-footer {
    border-top: none;
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    background-image: url("../assets/sebastian-lin-adebayo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
}

#static {
    width: 90%;
    text-align: center;
    margin: 10px auto 10px auto;
    /* overflow-y: hidden; */
}

img {
    width: 300px;
    height: auto;
}

.clear {
    clear: both;
    float: none;
    width: 100%;
}

.gallery {
    font-family: "Noto Serif SC", serif, sans-serif;
}

.big {
    margin-bottom: 5px;
}

.container .gallery a img {
    float: left;
    width: 20%;
    height: auto;
    border: 2px solid #fff;
    -webkit-transition: -webkit-transform .15s ease;
    -moz-transition: -moz-transform .15s ease;
    -o-transition: -o-transform .15s ease;
    -ms-transition: -ms-transform .15s ease;
    transition: transform .15s ease;
    position: relative;
}

.container .gallery a:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
}


/* Mouse position on image effect */

.grow-effect {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.grow-effect:hover,
.grow-effect:focus,
.grow-effect:active {
    /* margin: 20px; */
    transform: scale(1.1);
}


/* Mouse position on image effect */

.owners,
.owners a {
    text-decoration: none;
    color: #5e5e5e;
}


/* Sun animation */

.mover {
    motion-path: path("m 59.70563, 40.619202 c -37.18435,9.963515 -70.03811,35.173093 -89.286145,68.511668 -19.248034,33.33857 -24.653289,74.39555 -14.689774,111.5799 9.963515,37.18435 35.173089,70.03811 68.511669,89.28615 33.33857,19.24803 74.39555,24.65329 111.5799,14.68977 37.18435,-9.96352 70.03811,-35.17309 89.28614,-68.51167 19.24804,-33.33857 24.65329,-74.39555 14.68978,-111.5799 C 339.83368,130.41077 314.62411,97.557011 281.28553,78.308976 247.94696,59.060941 206.88998,53.655687 169.70563,63.619202 Z");
    offset-path: path("m 169.70563,63.619202 c -37.18435,9.963515 -70.03811,35.173093 -89.286145,68.511668 -19.248034,33.33857 -24.653289,74.39555 -14.689774,111.5799 9.963515,37.18435 35.173089,70.03811 68.511669,89.28615 33.33857,19.24803 74.39555,24.65329 111.5799,14.68977 37.18435,-9.96352 70.03811,-35.17309 89.28614,-68.51167 19.24804,-33.33857 24.65329,-74.39555 14.68978,-111.5799 C 339.83368,130.41077 314.62411,97.557011 281.28553,78.308976 247.94696,59.060941 206.88998,53.655687 169.70563,63.619202 Z");
    -webkit-animation: move 5s linear infinite;
    animation: move 5s linear infinite;
    animation-direction: reverse;
}

@-webkit-keyframes move {
    100% {
        motion-offset: 100%;
        offset-distance: 100%;
    }
}

@keyframes move {
    100% {
        motion-offset: 100%;
        offset-distance: 100%;
    }
}

.mover {
    width: 640px;
    height: 400px;
    background: url("../pics/sun.png") no-repeat;
    position: absolute;
    top: 25px;
    /* left: 300px; */
    left: 32%;
}


/* Sun animation */