body {
    background-color: whitesmoke;
    font-family: "Noto Serif SC", serif, sans-serif;
    overflow-x: hidden;
}

h1 {
    padding: 0;
    width: 80%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-family: "Noto Serif SC", serif, sans-serif;
}

video {
    text-align: center;
    width: 100%;
    margin: 10px auto 10px auto;
    background-color: whitesmoke;
}

#footer {
    border: 1px solid black;
    background-color: #333;
    width: 100%;
    /* height: 40px; */
    /* bottom: 0; */
    /* margin: 0; */
    /* padding: 0; */
    padding-top: 10px;
}

.modal {
    bottom: 200px;
}

.modal-dialog {
    height: 300px;
}

.modal-footer {
    border-top: none;
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    background-image: url("../assets/white-and-black-mountain-wallpaper-933054.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
}

#static {
    width: 90%;
    text-align: center;
    margin: 10px auto 10px auto;
    overflow-y: hidden;
}

img {
    width: 300px;
    height: auto;
}

.clear {
    clear: both;
    float: none;
    width: 100%;
}

.gallery {
    font-family: "Noto Serif SC", serif, sans-serif;
}

.container .gallery a img {
    float: left;
    width: 20%;
    height: auto;
    border: 2px solid #fff;
    -webkit-transition: -webkit-transform .15s ease;
    -moz-transition: -moz-transform .15s ease;
    -o-transition: -o-transform .15s ease;
    -ms-transition: -ms-transform .15s ease;
    transition: transform .15s ease;
    position: relative;
}

.container .gallery a:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 5;
}

.owners,
.owners a {
    text-decoration: none;
    color: #5e5e5e;
}